.login{
		margin: 0 auto;
		width: 300px;
		padding: 20px;
		border: dashed 2px #98D9FC;
		background: #ebf4fb;
		height: 200px;
}
.login h2{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: solid 1px #98D9FC;
}
.login .frm_cont{
		margin-bottom: 8px;
}
.login .content{
		padding: 5px;
}
.login .button{
		margin-bottom: 10px;
		text-align: center;
}
.login .username input.login.password input{
		width: 200px;
		height: 20px;
		margin-bottom:10px;
		padding: 2 0 2 20;
		border: solid 1px #aacfe4;
}
.login .username input{
		background: #FFF url("../image/xiaoren.jpeg") no-repeat left center;
		margin-bottom: 8px;
	
}
.login .password input{
		background: #FFF url("../image/suo.jpeg") no-repeat left center;
		margin-bottom: 8px;
	
}

