.caption{
	caption-side: top;
	text-align: center;
}
.table{
	border:1px #000000;
	text-align: center;
	width:100%;
	border:1px solid #757070;
}
.test0{
	background-color:cornflowerblue;
	border:1px solid;
}
.test1{
	background-color:lightsteelblue;
	
}
.test2{
	background-color: antiquewhite;	
}
